.animate {
    animation: fadein 1s ease-out;
    /* transform-style: preserve-3d; */
    transform-origin: right;
  }
  
  @keyframes fadein {
    0% {
      opacity: 0;
      transform: translate(0%) rotateY(-120deg);
    }
    100% {
      opacity: 100%;
      transform: translate(0%) rotateY(0);
    }
  }
  
  
  
  
  /* text animation */
  
  .lineUp {
      animation: 3s anim-lineUp ease-out ;
    }
    @keyframes anim-lineUp {
      0% {
        opacity: 0;
        transform: translateY(80%);
      }
      20% {
        opacity: 0;
      }
      50% {
        opacity: 1;
        transform: translateY(0%);
      }
      100% {
        opacity: 1;
        transform: translateY(0%);
      }
    }
  